.DS_Store
*.swp
*.swo
*.pyc
*.DS_Store

*__pycache__/
*.db

env/

project/

slides/lecture 5 solution.pdf

practical_sessions/tp3_ridge_hps/solutions/

practical_sessions/**/latex/
practical_sessions/**/latex_2H/
practical_sessions/latex_stock/
practical_sessions/tp6_svm/
practical_sessions/tp7_acceleration/
practical_sessions/tp8_nn/
practical_sessions/tp9_ridge_II/
practical_sessions/tp10_unsupervised_classification/
practical_sessions/tp11_exploration_nn/
practical_sessions/tp12_similarities_spectral_clustering/
practical_sessions/tp13_14_feature_selection/
practical_sessions/tp15_density_estimation/
practical_sessions/tp16_sag/

practical_sessions/tp4_optuna_knn/exercice_1_optuna/*.db
practical_sessions/tp4_optuna_knn/exercice_1_optuna/examples_digits/
practical_sessions/tp4_optuna_knn/exercice_2_knn/solutions/

practical_sessions/tp5_dim_reduction_line_search/exercice_1_dimensionality_reduction/main_solution.py
practical_sessions/tp5_dim_reduction_line_search/exercice_1_dimensionality_reduction/make_labels.py
practical_sessions/tp5_dim_reduction_line_search/exercice_1_dimensionality_reduction/create_data.py
practical_sessions/tp5_dim_reduction_line_search/exercice_1_dimensionality_reduction/*.pdf

practical_sessions/tp5_dim_reduction_line_search/exercice_2_line_search/generate_data.py
practical_sessions/tp5_dim_reduction_line_search/exercice_2_line_search/*.pdf
practical_sessions/tp5_dim_reduction_line_search/exercice_2_line_search/archive.py

practical_sessions/tp5_line_search_logistic/exercice_2_logistic_regression/
practical_sessions/tp5_line_search_logistic/TP5_solution.pdf
practical_sessions/tp5_line_search_logistic/exercice_1_line_search/solutions/
practical_sessions/tp5_line_search_logistic/exercice_1_line_search/generate_data.py

practical_sessions/tp6_svm/svm_kernels/solution/
practical_sessions/tp6_svm/svm_sgd/solution/
practical_sessions/tp7_acceleration/heavy_ball/solution/
practical_sessions/tp8_nn/nn/solutions/
practical_sessions/tp9_ridge_II/ridge/solutions/
practical_sessions/tp10_unsupervised_classification/dimensionality_reduction/solutions/
practical_sessions/tp10_unsupervised_classification/vector_quantization/solutions/
practical_sessions/tp11/exploration_exploitation/solution/
practical_sessions/tp11/nn/solution/
practical_sessions/tp11/value_iteration/solution/
practical_sessions/tp12_similarities_spectral_clustering/similarities/geometric_data/solutions/
practical_sessions/tp12_similarities_spectral_clustering/spectral_clustering/solutions/
practical_sessions/tp13_14_feature_selection/feature_selection/solutions/
practical_sessions/tp15_density_estimation/digits/solutions
practical_sessions/tp15_density_estimation/old_faithful/solutions

practical_sessions/tp2_ols_ridge/data/*.npy
practical_sessions/tp4_knn_lr/lr/solutions/learning_rate_schedule.py
practical_sessions/tp4_knn_lr/lr/solutions/data/
practical_sessions/tp8_nn/nn/images/*pdf
practical_sessions/tp9_ridge_II/arch/
# practical_sessions/tp10_unsupervised_classification/vector_quantization/solution/
practical_sessions/tp10_unsupervised_classification/vector_quantization/images/
practical_sessions/tp10_unsupervised_classification/dimensionality_reduction/create_data.py
practical_sessions/tp10_unsupervised_classification/dimensionality_reduction/make_labels.py
practical_sessions/tp10_unsupervised_classification/vector_quantization/data/*.npy
practical_sessions/tp11_exploration_nn/exploration_exploitation/students/
practical_sessions/tp11_exploration_nn/exploration_exploitation/images/*.pdf
practical_sessions/tp11_exploration_nn/value_iteration/images/value_iteration/*.pdf

practical_sessions/tp12_similarities_spectral_clustering/similarities/geometric_data/solutions/
practical_sessions/tp12_similarities_spectral_clustering/similarities/geometric_data/images/*.pdf
practical_sessions/tp12_similarities_spectral_clustering/similarities/hybrid/solutions/
practical_sessions/tp12_similarities_spectral_clustering/similarities/hybrid/solutions/images/*.pdf
practical_sessions/tp12_similarities_spectral_clustering/similarities/hybrid/images/complex_*

practical_sessions/tp13_14_feature_selection/feature_selection/solutions/images/
practical_sessions/tp13_14_feature_selection/feature_selection/solutions/arch/
practical_sessions/tp13_14_feature_selection/feature_selection/solutions/vocabularies/
practical_sessions/tp13_14_feature_selection/feature_selection/solutions/*pkz
practical_sessions/tp13_14_feature_selection/feature_selection/solutions/*.py
!practical_sessions/tp13_14_feature_selection/feature_selection/solutions/exercice_1_logistic_regression.py
!practical_sessions/tp13_14_feature_selection/feature_selection/solutions/exercice_2_univariate_filtering.py
!practical_sessions/tp13_14_feature_selection/feature_selection/solutions/exercice_3_l1_regularization.py
!practical_sessions/tp13_14_feature_selection/feature_selection/solutions/exercice_4_wrapper.py
practical_sessions/tp13_14_feature_selection/feature_selection/imdb.pkz
practical_sessions/tp13_14_feature_selection/feature_selection/arch/

practical_sessions/tp15_density_estimation/old_faithful/solutions/
practical_sessions/tp15_density_estimation/digits/solutions/


2022/
README_backup.md

.ipynb_checkpoints
*.ipynb_checkpoints
