.DS_Store
*.swp
*.swo
*.pyc
*.DS_Store

*__pycache__/
*.db

env/

practical_sessions/tp2_ols_ridge/data/*.npy
practical_sessions/tp4_knn_lr/lr/solutions/learning_rate_schedule.py
practical_sessions/tp4_knn_lr/lr/solutions/data/
practical_sessions/tp8_nn/nn/images/*pdf
practical_sessions/tp9_ridge_II/arch/
# practical_sessions/tp10_unsupervised_classification/vector_quantization/solution/
practical_sessions/tp10_unsupervised_classification/vector_quantization/images/
practical_sessions/tp10_unsupervised_classification/vector_quantization/data/*.npy
practical_sessions/tp11_exploration_nn/exploration_exploitation/students/
practical_sessions/tp11_exploration_nn/nn/

2022/
README_backup.md

.ipynb_checkpoints
*.ipynb_checkpoints
